{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1></h1>
<div class="container mb-3 w-50">
  <h1 class="section-header align-center">Add Category</h1>
  <form method="POST" class="product-item" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Enter Category" value="{{ request.POST.name }}">
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
<!--      <input type="" class="form-control" name="price" placeholder="Price.." value="{{ request.POST.price }}">-->
      <textarea class="form-control" placeholder="description" name="description"></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Image</label>
      <input type="file" class="form-control" name="image">
    </div>

    <div class="mb-3 mx-auto text-center">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>

  </form>
</div>
{% endblock %}